body {
    background-color: var(--cor1);
    font-family: var(--font-padrao);
    font-size: 1rem; /* Use rem para tamanhos de fonte */
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
    height: 70px;
    display: flex;
}

header h1 {
    margin-right: 70px;
    margin-inline-start: 100px;
    color: white;
    padding: 15px 0px 20px 20px;
    width: 10px;

}

#cash {
    color: var(--cor5);
    margin-left: 5px;
    margin-top: 1px;

}

header div>img {
    height: 50px;
    width: 50px;
    padding-top: 5px;
}

#cadastro_renda {
    margin: auto;
    margin-inline-end: 100px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#cadastro_renda a {

    margin: auto;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#cadastro_renda a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

#cadastro {
    padding: 30px;
}

#login {
    padding: 30px;
}


#geral {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 125px; 
    margin-bottom: 125px; 
}

#quadro1 {
    height: 400px;
    width: 200px;
    padding: 40px;
    background-color: white;
    display: flex;
    background-color: #467C73;
}

#quadrado1 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0;
}

#quadro2 {
    height: 400px;
    width: 300px;
    padding: 40px;
    background-color: white;
    display: flex;

}

#quadrado2 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: normal;
}

#conta {
    font-size: xx-large;
    width: 200px;
    height: 30px;
    font-weight: bold;
    display: flex;
    padding-left: 60px;
    margin-bottom: 20px;
}
p1 {
    font-size: x-large;
    width: 200px;
    height: 30px;
    margin-bottom: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    font-weight: bold;
    color: #ffffff;
}

p2 {
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}



#nome {
    margin: 10px;
    background-color: #E7E7E7;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 250px;    
}
 #email {
    margin: 10px;
    background-color: #E7E7E7;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 250px;  
 }
 
#senha {
    margin: 10px;
    background-color: #E7E7E7;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 250px;  
}

#cadastrar {
    font-size: normal;
    padding: 10px;
    width: 200px;
    margin: 30px;
    border: none;
    border-radius: 10px;
    background-color: #467C73;
    font-weight: bolder;
    font-size: medium;
    color: #ffffff;
}

#entrar {
    font-size: normal;
    padding: 10px;
    margin: 10px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: transparent;
    font-weight: bolder;
    font-size: medium;
    color: #ffffff;
}

@font-face {
    font-family: 'Big Noodle Titling'; /* Nome que você deseja dar à sua fonte */
    src: url(./../fonts/big_noodle_titling.ttf) format('truetype'); /* Caminho para o arquivo da fonte TTF */
}

p3, p4, p5 {
    font-size: x-large;
    font-family: 'Big Noodle Titling', Arial, sans-serif;
}

#conta {
    font-family:'Big Noodle Titling', Arial, sans-serif;
}











/*
@font-face {
    font-family: 'Big Noodle Titling';
    src: url('fontes/big_noodle_titling.ttf') format('opentype');
}

#nome,
#email,
#senha {
    font-family: 'Big Noodle Titling';
}
*/






footer {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-family: var(--font-padrao);
    font-size: .9em;
    padding: 5px 20px 5px 20px;
}

footer a {
    padding: 5px;
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor3);
}



@media screen and (max-width:1100px) {

    main {
        height: 1300px;
    }


}







@media screen and (max-width:800px) {

    * {
        margin: 0px;
        padding: 0px;
    }


    header h1 {
        margin-inline-start: 10px;
    }


    #cadastro_renda {
        margin-inline-end: 20px;
    }

    #cadastro {
        padding: 10px;
    }

    #login {
        padding: 10px;
    }


    main {
        height: 1200px;
    }
}
@media screen and (max-width: 800px) {
    /* Aqui vão as regras CSS para telas com largura máxima de 800 pixels */

    body {
        font-size: 0.9rem; /* Reduzir o tamanho da fonte para telas menores */
    }

    header h1 {
        margin-inline-start: 10px; /* Ajustar a margem do título principal */
    }

    #cadastro_renda {
        margin-inline-end: 20px; /* Ajustar a margem do bloco de cadastro/login */
    }

    #cadastro,
    #login {
        padding: 10px; /* Reduzir o preenchimento dos botões de cadastro/login */
    }

    main {
        height: 1200px; /* Ajustar a altura do elemento principal para telas menores */
    }

    #quadro2{
        padding-top: 1rem;
        vertical-align: auto;
        position: relative;
        top: 440px;
        left: -155px;
        margin-left: 30px;
        width: 300px;
    }
    #quadro1    {
        padding-top: 0;
        position: relative;
        top: 0px;
        left: 200px;
        vertical-align: auto;

    }
}

