body{
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
    height: 70px;
    display: flex;
}
header h1{
    color: white;
    padding: 15px 0px 20px 20px;
    width: 10px;
   
 }
 #cash{
    color: #132220;
    margin-left: 75px;
    margin-top: 1px;
  
}
header div > img{
    height: 50px;
    width: 50px;
    padding-top: 5px;
    padding-left: 60px;  
}
header a{
    margin: auto;
    margin-inline-end: 50px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}
header a:hover{
    text-decoration: underline;
    color: var(--cor4);
}
main{
    height: 850px;
    min-width: 300px;
    max-width: 2600px;
    margin: auto;
    padding: 5px;
    display: flex;
    background-color: var(--cor01);
}
#menu_lateral{
    width:60px;
    height: 850px;
    background-color: var(--cor1);
    box-shadow: 2px 2px 10px var(--cor4);
    position:absolute;
    border-radius: 0px 5px 5px 0px;  
    overflow: hidden;
    line-height: 4px;
    
}
#menu_lateral:hover{
    width: 300px;
    transition: .5s;  
 }
 .expandir{
    padding: 20px;
}


.icon{
    font-size: 30px;
   
}
.txt{
     margin-left: 45px;
    
}
main li{
    list-style-type: none;
}

main nav a{
    display: block;
    color: var(--cor4);
    text-decoration: none;
    font-weight: bolder;
    padding:15px;
}

 main nav a:hover{
    transition: .5s;
    background-color: var(--cor3);
    color: white;
    padding: 15px;
 }   
 footer{
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-family: var(--font-padrao);
    font-size: .9em;
    padding: 5px 20px 5px 20px;
 }

footer a{
    padding: 5px;
    color: white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor3);
}


 #conteudo{
    display:block;
    margin: auto;
}
#titulo a{
    color:black;
    font-weight: normal;
    font-size: 3em;
    font-family: var(--font-noodle);
    /* margin-bottom: 50px; */
    text-decoration: none;
    
}
#titulo p{
    font-family: var(--font-destaque);
    margin-bottom: 50px;
    margin-top: 20px;
   
}

#CampoMetas{
    background-color: white;
    /* display: flex;
    flex-direction: column; */
    display: inline-flex;
    flex-direction: row;
    margin: 2px;
    width: 1300px;
    flex-wrap: wrap;
    height: 550px;
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px var(--cor01);
    overflow-y: scroll; /* adicionar rolagem vertical */
    border: 1px solid #ccc;
}
.area_metas_individuais{
    width: 285px;
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 10px var(--cor01);
    height: 220px;
    background-color: #ffffff;

}
.metas_individuais{
    background-color: #ffffff;
    margin-top: 15px;
    width: 200px;
    height: 30px
}

#dono_da_meta{
    margin-left: 10px;
    font-family: var(--font-destaque);
    font-size: 0.9em;
    font-weight: bold;
}
#nome_metas{
    margin-left: 25px;
    font-family: var(--font-destaque);
    font-size: 15px;
    border: none;
    font-weight: bold;
    font-size: 1.2em;
}
#data_final{
    border: none;
    margin-left: 25px;
    font-family: var(--font-destaque);
    margin-top: 30px;
    font-size: 1.2em;
}
#valor_objetivo{
    border: none;
    margin-left: 25px;
    margin-top: 29px;
    font-size: 1.2em;
    font-family: var(--font-destaque);
}
.actios_goals{
    margin-left: 185px;
    margin-top: 20px;
    font-size: 25px;
}
.botao_Adicionar_mais_metas{
        width: 120px;
        height: 30px;
        font-size: 1.2em;
        font-weight: bold;
        color:#ffffff;
        background-color: var(--cor3);
        border: none;
        border-radius: 5px;
        text-align: justify;
        position: relative;
        margin: auto;
      


        /* margin-top: 60px;
        margin-left: 1100px; */
    
    
}
#marcar_objetivo{
    font-size: 30px;
    border: none;
    color: black;
    background-color: #ffffff;
}
#apagar_objetivos{
    font-size: 23px;
    border: none;
    color: rgb(205, 71, 50);
    background-color: #ffffff; 
}
.nenhumaMeta{
    font-size: 1.5em;
    margin: auto;
    /* margin-left: 500px;
    margin-top: 205px; */
    font-family: var(--font-destaque);
    font-weight: bold;
}
@media screen and (max-width:1515px ){

    main{
        height: 1100px;
    }

    
    #menu_lateral{
        height:  1100px;
    }
    #titulo a{
        color:black;
        font-weight: normal;
        /* margin-left: 100px; */
        font-size: 3em;
        font-family: var(--font-noodle);
        margin-bottom: 50px;
        text-decoration: none;
        
    }
    #titulo p{
        font-family: var(--font-destaque);
        margin-bottom: 50px;
        margin-top: 20px;
        /* margin-left: 100px; */
       
    }
    

    #CampoMetas{
        display: flex;
        margin-left:25px;
        width: 1200px;
        margin: auto;
        /* height: 450px; */
        flex-wrap: wrap;
        /* margin-bottom: 300px; */
        box-shadow: 2px 2px 10px var(--cor01);
        overflow-y: scroll; /* adicionar rolagem vertical */
        border: 1px solid #ccc;
        overflow-y: scroll; /* adicionar rolagem vertical */
        border: 1px solid #ccc;
    }
    .area_metas_individuais{
        width: 270px;
        margin-left: 25px;
        margin-top: 15px;
        margin-bottom: 15px;
        box-shadow: 2px 2px 10px var(--cor01);
        height: 220px;
        background-color: #ffffff;
    
    }
    .metas_individuais{
        background-color: #ffffff;
        margin-top: 15px;
        width: 200px;
        height: 30px;
    }
    
    #dono_da_meta{
        margin-left: 10px;
        font-family: var(--font-destaque);
        font-size: 0.9em;
        font-weight: bold;
    }
    #nome_metas{
        margin-left: 25px;
        font-family: var(--font-destaque);
        font-size: 15px;
        border: none;
        font-weight: bold;
        font-size: 1.2em;
    }
    #data_final{
        border: none;
        margin-left: 25px;
        font-family: var(--font-destaque);
        margin-top: 30px;
        font-size: 1.2em;
    }
    #valor_objetivo{
        border: none;
        margin-left: 25px;
        margin-top: 29px;
        font-size: 1.2em;
        font-family: var(--font-destaque);
    }
    .actios_goals{
        margin-left: 185px;
        margin-top: 20px;
        font-size: 25px;
    }
    .botao_Adicionar_mais_metas{
        /* width: 120px;
        height: 30px;
        font-size: 1.2em;
        font-weight: bold;
        color:#ffffff;
        background-color: var(--cor3);
        border: none;
        border-radius: 5px;
        margin-top: 30px;
        margin-left: 850px; */
        position: relative;
        /* margin-bottom: 10px;
        margin-left: 89%; */
    }
    #marcar_objetivo{
        font-size: 30px;
        border: none;
        color: black;
        background-color: #ffffff;
    }
    #apagar_objetivos{
        font-size: 23px;
        border: none;
        color: rgb(205, 71, 50);
        background-color: #ffffff; 
    }
    /* .nenhumaMeta{
        font-size: 1.5em;
        margin-left: 350px;
        margin-top: 205px;
        font-family: var(--font-destaque);
        font-weight: bold;
    } */
}
@media screen and (max-width:1390px ){

    main{
        height: 1100px;
    }

    #titulo a{
      margin: 70px;
    }
    #titulo p{
        margin-left: 70px;
        
       
    }
    #menu_lateral{
        height: 1100px;
    }

    #CampoMetas{
        display: flex;
        margin-left:70px;
        width: 1100px;
        height: 450px;
        margin-bottom: 300px;
        box-shadow: 2px 2px 10px var(--cor01);
        overflow-y: scroll; /* adicionar rolagem vertical */
        border: 1px solid #ccc;
        flex-wrap: wrap;
        overflow-y: scroll; /* adicionar rolagem vertical */
        border: 1px solid #ccc;
        overflow-y: scroll; /* adicionar rolagem vertical */
        border: 1px solid #ccc;
    }
    .area_metas_individuais{
        width: 270px;
        margin-left: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-bottom: 15px;
        margin-bottom: 15px;
        box-shadow: 2px 2px 10px var(--cor01);
        height: 220px;
        background-color: #ffffff;
    
    }
    .metas_individuais{
        background-color: #ffffff;
        margin-top: 15px;
        width: 200px;
        height: 30px;
    }
    
    #dono_da_meta{
        margin-left: 10px;
        font-family: var(--font-destaque);
        font-size: 0.9em;
        font-weight: bold;
    }
    #nome_metas{
        margin-left: 25px;
        font-family: var(--font-destaque);
        font-size: 15px;
        border: none;
        font-weight: bold;
        font-size: 1.2em;
    }
    #data_final{
        border: none;
        margin-left: 25px;
        font-family: var(--font-destaque);
        margin-top: 30px;
        font-size: 1.2em;
    }
    #valor_objetivo{
        border: none;
        margin-left: 25px;
        margin-top: 29px;
        font-size: 1.2em;
        font-family: var(--font-destaque);
    }
    .actios_goals{
        margin-left: 185px;
        margin-top: 20px;
        font-size: 25px;
    }
    .botao_Adicionar_mais_metas{
        /* width: 120px;
        height: 30px;
        font-size: 1.2em;
        font-weight: bold;
        color:#ffffff;
        background-color: var(--cor3);
        border: none;
        border-radius: 5px;
        margin-top: px;
        margin-left: 800px; */
        position: relative;
        /* margin-bottom: 10px;
        margin-left: 87%; */
        
    
    }
    #marcar_objetivo{
        font-size: 30px;
        border: none;
        color: black;
        background-color: #ffffff;
    }
    #apagar_objetivos{
        font-size: 23px;
        border: none;
        color: rgb(205, 71, 50);
        background-color: #ffffff; 
    }
   
}


@media screen and (max-width:1263px ){

    main{
        width: 100%;
        height: 100%;
        height: 1200px;
    }
    

    
    #menu_lateral{
        height: 1200px;
    }
    #titulo a{
        /* color:black;
        font-weight: normal;
        margin-left: 100px;
        font-size: 3em;
        font-family: var(--font-noodle);
        margin-bottom: 50px;
        text-decoration: none; */
        margin-left: 10px;
        
    }
    #titulo p{
        font-family: var(--font-destaque);
        margin-bottom: 50px;
        margin-top: 20px;
        margin-left: 10px;
       
    }

    #CampoMetas{
        display: flex;
        margin-left:9px;
        width: 1000px;
        margin-bottom: 300px;
        flex-wrap: wrap; /* Permitindo que os itens sejam enrolados em várias linhas */
        box-shadow: 2px 2px 10px var(--cor01);
        overflow-y: scroll; /* adicionar rolagem vertical */
        border: 1px solid #ccc;
    }

    .area_metas_individuais{
        width: 280px;
        margin-left: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
        box-shadow: 2px 2px 10px var(--cor01);
        height: 220px;
        background-color: #ffffff;
    
    }
    
   
    .metas_individuais{
        background-color: #ffffff;
        margin-top: 15px;
        width: 200px;
        height: 30px;
    }
    
    #dono_da_meta{
        margin-left: 10px;
        font-family: var(--font-destaque);
        font-size: 0.9em;
        font-weight: bold;
    }
    #nome_metas{
        margin-left: 25px;
        font-family: var(--font-destaque);
        font-size: 15px;
        border: none;
        font-weight: bold;
        font-size: 1.2em;
    }
    #data_final{
        border: none;
        margin-left: 25px;
        font-family: var(--font-destaque);
        margin-top: 30px;
        font-size: 1.2em;
    }
    #valor_objetivo{
        border: none;
        margin-left: 25px;
        margin-top: 29px;
        font-size: 1.2em;
        font-family: var(--font-destaque);
    }
    .actios_goals{
        margin-left: 185px;
        margin-top: 20px;
        font-size: 25px;
    }
    /* .botao_Adicionar_mais_metas{
        width: 130px;
        height: 35px;
        font-size: 1.2em;
        font-weight: bold;
        color:#ffffff;
        background-color: var(--cor3);
        border: none;
        border-radius: 5px;
        margin-top: 11px;
    
    } */
    #marcar_objetivo{
        font-size: 30px;
        border: none;
        color: black;
        background-color: #ffffff;
    }
    #apagar_objetivos{
        font-size: 23px;
        border: none;
        color: rgb(205, 71, 50);
        background-color: #ffffff; 
    }
    /* .nenhumaMeta{
        font-size: 1.5em;
        margin-left: 320px;
        margin-top: 205px;
        font-family: var(--font-destaque);
        font-weight: bold;
    } */
}
@media screen and (max-width:1143px ){
    #titulo a{
        margin-top: 90px;
        margin-left: 10px;
        
    }
    
    
    #menu_lateral{
        height: 1200px;
    }

    #CampoMetas{
        display: flex;
        margin-left:9px;
        width: 750px;
        height: 700px;
        margin-right: 15px;
        margin-bottom: 300px;
        display: flex; /* Usando flexbox para alinhar os itens */
        flex-wrap: wrap; /* Permitindo que os itens sejam enrolados em várias linhas */
        box-shadow: 2px 2px 10px var(--cor01);
        overflow-y: scroll; /* adicionar rolagem vertical */
        border: 1px solid #ccc;
    }
    .area_metas_individuais{
        width: 310px;
        margin-left: 80px;
        padding-left: 10px;
        margin-top: 15px;
        margin-bottom: 5px;
        box-shadow: 2px 2px 10px var(--cor01);
        height: 220px;
        background-color: #ffffff;

    }
    .metas_individuais{
        background-color: #ffffff;
        margin-top: 15px;
        width: 200px;
        height: 30px;
        margin-left:150px;
    }
    
    #dono_da_meta{
        margin-left: 10px;
        font-family: var(--font-destaque);
        font-size: 0.9em;
        font-weight: bold;
    }
    #nome_metas{
        margin-left: 25px;
        font-family: var(--font-destaque);
        font-size: 15px;
        border: none;
        font-weight: bold;
        font-size: 1.2em;
    }
    #data_final{
        border: none;
        margin-left: 25px;
        font-family: var(--font-destaque);
        margin-top: 30px;
        font-size: 1.2em;
    }
    #valor_objetivo{
        border: none;
        margin-left: 25px;
        margin-top: 29px;
        font-size: 1.2em;
        font-family: var(--font-destaque);
    }
    .actios_goals{
        margin-left: 185px;
        margin-top: 20px;
        font-size: 25px;
    }
    .botao_Adicionar_mais_metas{
        position: relative;
        /* margin-bottom: 10px;
        margin-left: 80%;  */
    }
      

    #marcar_objetivo{
        font-size: 30px;
        border: none;
        color: black;
        background-color: #ffffff;
    }
    #apagar_objetivos{
        font-size: 23px;
        border: none;
        color: rgb(205, 71, 50);
        background-color: #ffffff; 
    }
    .nenhumaMeta{
       margin: auto;
    }
}
@media screen and (max-width:900px ){

    main{
        height: 1100px;
    }

    #menu_lateral{
        height: 1100px;
    }

    #CampoMetas{
        width: 700px;
        margin: auto;
    }

    .area_metas_individuais{
        width: 250px;
        margin-left: 25px;
        margin-right: 20px;
        padding-left: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        box-shadow: 2px 2px 10px var(--cor01);
        height: 220px;
        background-color: #ffffff;
    
    }
    .metas_individuais{
        background-color: #ffffff;
        margin-top: 15px;
        width: 200px;
        height: 30px;
        margin-left:150px;
    }
    
    #dono_da_meta{
        margin-left: 10px;
        font-family: var(--font-destaque);
        font-size: 0.9em;
        font-weight: bold;
    }
    #nome_metas{
        margin-left: 25px;
        font-family: var(--font-destaque);
        font-size: 15px;
        border: none;
        font-weight: bold;
        font-size: 1.2em;
    }
    #data_final{
        border: none;
        margin-left: 25px;
        font-family: var(--font-destaque);
        margin-top: 30px;
        font-size: 1.2em;
    }
    #valor_objetivo{
        border: none;
        margin-left: 25px;
        margin-top: 29px;
        font-size: 1.2em;
        font-family: var(--font-destaque);
    }
    .actios_goals{
        margin-left: 185px;
        margin-top: 20px;
        font-size: 25px;
    }
   
    #marcar_objetivo{
        font-size: 30px;
        border: none;
        color: black;
        background-color: #ffffff;
    }
    #apagar_objetivos{
        font-size: 23px;
        border: none;
        color: rgb(205, 71, 50);
        background-color: #ffffff; 
    }
   
} 
@media screen and (max-width:850px ){

    main{
        height: 1100px;
    }

    #titulo a {
        margin-left: 80px;
    }
    #titulo p {
        margin-left: 80px;
    }
    #menu_lateral{
        height: 1100px;
    }

    #CampoMetas{
        display: flex;
        margin-left:80px;
        width: 500px;
        margin-right: 10px;
        height: 600px;
        display: flex; 
        flex-wrap: wrap; 
        box-shadow: 2px 2px 10px var(--cor01);
        overflow-y: scroll; /* adicionar rolagem vertical */
        border: 1px solid #ccc;
    }
    .area_metas_individuais{
        width: 250px;
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        box-shadow: 2px 2px 10px var(--cor01);
        height: 220px;
        background-color: #ffffff;
    
    }
    .metas_individuais{
        background-color: #ffffff;
        margin-top: 15px;
        width: 200px;
        height: 30px;
        margin-left:150px;
    }
    
    #dono_da_meta{
        margin-left: 10px;
        font-family: var(--font-destaque);
        font-size: 0.9em;
        font-weight: bold;
    }
    #nome_metas{
        margin-left: 25px;
        font-family: var(--font-destaque);
        font-size: 15px;
        border: none;
        font-weight: bold;
        font-size: 1.2em;
    }
    #data_final{
        border: none;
        margin-left: 25px;
        font-family: var(--font-destaque);
        margin-top: 30px;
        font-size: 1.2em;
    }
    #valor_objetivo{
        border: none;
        margin-left: 25px;
        margin-top: 29px;
        font-size: 1.2em;
        font-family: var(--font-destaque);
    }
    .actios_goals{
        margin-left: 185px;
        margin-top: 20px;
        font-size: 25px;
    }
    .botao_Adicionar_mais_metas{
       
            position: relative;
            /* margin-bottom: 10px;
            margin-left: 75%; */
    }
    #marcar_objetivo{
        font-size: 30px;
        border: none;
        color: black;
        background-color: #ffffff;
    }
    #apagar_objetivos{
        font-size: 23px;
        border: none;
        color: rgb(205, 71, 50);
        background-color: #ffffff; 
    }
   
}



@media screen and (max-width:621px ){

    main{
        height: 1100px;
    }

    
    #menu_lateral{
        height: 1100px;
    }

    #CampoMetas{
        display: flex;
        margin-left:70px;
        width: 460px;
        margin-right: 12px;
        height: 600px;
        display: flex; 
        flex-wrap: wrap; 
        box-shadow: 2px 2px 10px var(--cor01);
        overflow-y: scroll; /* adicionar rolagem vertical */
        border: 1px solid #ccc;
    }
    .area_metas_individuais{
        width: 200px;
        padding-left: 10px;
        margin: 15px 5px;
        box-shadow: 2px 2px 10px var(--cor01);
        height: 220px;
        background-color: #ffffff;
    
    }
    .metas_individuais{
        background-color: #ffffff;
        margin-top: 15px;
        width: 200px;
        height: 30px;
        margin-left:150px;
    }
    
    #dono_da_meta{
        margin-left: 10px;
        font-family: var(--font-destaque);
        font-size: 0.9em;
        font-weight: bold;
    }
    #nome_metas{
        margin-left: 25px;
        font-family: var(--font-destaque);
        font-size: 15px;
        border: none;
        font-weight: bold;
        font-size: 1.0em;
    }
    #data_final{
        border: none;
        margin-left: 15px;
        font-family: var(--font-destaque);
        font-weight: bold;
        margin-top: 30px;
        font-size: 1.0em;
    }
    #valor_objetivo{
        border: none;
        margin-left: 25px;
        margin-top: 20px;
        font-size: 1.0em;
        font-weight: bold;
        font-family: var(--font-destaque);
    }
    .actios_goals{
        margin-left: 130px;
        margin-top: 10px;
        font-size: 25px;
    }
    .botao_Adicionar_mais_metas{
       
        position: relative;
        /* margin-bottom: 10px;
        margin-left: 70%; */
    }
    #marcar_objetivo{
        font-size: 30px;
        border: none;
        color: black;
        background-color: #ffffff;
    }
    #apagar_objetivos{
        font-size: 20px;
        border: none;
        color: rgb(205, 71, 50);
        background-color: #ffffff; 
    }
    /* .nenhumaMeta{
        font-size: 1.5em;
        margin-left: 500px;
        margin-top: 205px;
        font-family: var(--font-destaque);
        font-weight: bold;
    }
} */

@media screen and (max-width:527px ) {

    main {
        height: 1100px;
    }


    #menu_lateral {
        height: 1100px;
    }

    #CampoMetas {
        display: flex;
        margin-left: 70px;
        width: 400px;
        margin-right: 12px;
        height: 600px;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 2px 2px 10px var(--cor01);
        overflow-y: scroll; /* adicionar rolagem vertical */
        border: 1px solid #ccc;
    }

    .area_metas_individuais {
        width: 170px;
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 5px;
        margin-top: 15px;
        margin-bottom: 15px;
        box-shadow: 2px 2px 10px var(--cor01);
        height: 220px;
        background-color: #ffffff;

    }

    .metas_individuais {
        background-color: #ffffff;
        margin-top: 15px;
        width: 200px;
        height: 30px;
        margin-left: 150px;
    }

    #dono_da_meta {
        margin-left: 10px;
        font-family: var(--font-destaque);
        font-size: 0.9em;
        font-weight: bold;
    }

    #nome_metas {
        margin-left: 25px;
        font-family: var(--font-destaque);
        font-size: 15px;
        border: none;
        font-weight: bold;
        font-size: 0.9em;
    }

    #data_final {
        border: none;
        margin-left: 15px;
        font-family: var(--font-destaque);
        font-weight: bold;
        margin-top: 30px;
        font-size: 0.8em;
    }

    #valor_objetivo {
        border: none;
        margin-left: 25px;
        margin-top: 20px;
        font-size: 0.8em;
        font-weight: bold;
        font-family: var(--font-destaque);
    }

    .actios_goals {
        margin-left: 90px;
        margin-top: 10px;
        font-size: 20px;
    }

    .botao_Adicionar_mais_metas {

        position: relative;
        /* margin-bottom: 10px;
        margin-left: 65%; */
    }

    #marcar_objetivo {
        font-size: 30px;
        border: none;
        color: black;
        background-color: #ffffff;
    }

    #apagar_objetivos {
        font-size: 20px;
        border: none;
        color: rgb(205, 71, 50);
        background-color: #ffffff;
    }
}
}