@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

@font-face{
    font-family: 'Noodle';
    src: url('../fonts/big_noodle_titling.ttf') format('opentype');
    font-weight: normal;
}

:root{
    --cor01: #cbd3d1;
    --cor0: #F5F5F5;
    --cor1: #E7E7E7;
    --cor2: #D9D9D9;
    --cor3: #467C73;
    --cor4: #25423d;
    --cor5: #132220;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque:  "Open Sans", sans-serif;
    --font-noodle: 'Noodle', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor1);
    font-family: var(--font-padrao);
    width: 100%;
}

header{
   background-color: #467C73;
    height: 70px;
    display: flex;
}

header h1{
    margin-right: 70px;
    margin-inline-start: 100px;
    color: white;
    padding: 15px 0px 20px 20px;
    width: 10px;
    
}

#cash{
    color: var(--cor4);
    margin-left: 5px;
    margin-top: 1px;
  
}

header div > img{
    height: 50px;
    width: 50px;
    padding-top: 5px;
}

#cadastro_renda{
    margin: auto;
    margin-inline-end: 100px;
    color: white;
    text-decoration: none;
    font-weight: bold; 
}

#cadastro_renda a{
    
    margin: auto;
    color: white;
    text-decoration: none;
    font-weight: bold;  
}

#cadastro_renda a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

#cadastro{
    padding: 30px;
}

#login{
    padding: 30px;
}

#imagem{
    margin: auto;
    height: 750px;
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: contain;
}


main{
    margin: auto;
    padding: 20px 85px;  
    height: 800px;
   
}


main h1{
    width: 1000px;
    margin: auto;
    padding: 30px;
    font-size: 3em;
    color: var(--cor3);
    
} 


main p{
    font-size: 1.5em;
    text-align: center;
    border-radius: 10px;
    color: #676b6a;
    padding: 50px;
   
}

main div {
    text-align: center;
    align-content: center;
    height: 50px;
    padding: 50px;
    
   
}
#diferente{
    font-size: 1.5em;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #619c92;
}
#diferente:hover{
    color: #132220;
    font-weight: bold;
}

#alunos h1{
    text-align: center;
    margin-bottom: 30px;
}
#alunos{
    font-weight: bold;
   padding-top: 80px;
    height: 300px;
    line-height: 25px;
    text-align: center;
    align-items: center;
    background-color:white;
   
   
}

#projeto h1{
    text-align: center;
    margin-bottom: 30px;
    color: #028a7c;
}
#projeto{
   
    padding: 50px 100px;
    font: normal 13pt arial;
    text-align: justify;
    background-color: var(--cor01);
   
}

footer{
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-family: var(--font-padrao);
    font-size: .9em;
    padding: 5px 20px 5px 20px;
 }

footer a{
    padding: 5px;
    color: white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor3);
}

@media screen and (max-width:1800px ){
   
    #imagem{
        height: 400px;
        background-image: url('../images/banner.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    main h1{
        padding: 80px; 
    }

    #projeto{
       
        padding: 50px 100px;
        font: normal 13pt arial;
        text-align: justify;
        background-color: var(--cor01);
       
    }

   
}



@media screen and (max-width:1200px ){

    main{
        height: 700px;
        padding: 20px;
    }
    #imagem{
        height: 300px;
        background-image: url('../images/banner.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    main h1{
        text-align: center;
        width: 600px;
        font-size: 3em;
        color: var(--cor3);
        
    } 
    
  
    #projeto{
        padding: 50px;
        font: normal 13pt arial;
        text-align: justify;
        background-color: var(--cor01);
       
    }

}







@media screen and (max-width:760px){

    #imagem{
        height: 150px;
        background-image: url('../images/banner.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    *{
        margin: 0px;
        padding: 0px;
    }


    header h1{
        margin-inline-start: 10px;
    }


    #cadastro_renda{
        margin-inline-end: 20px;
    }

    #cadastro{
        padding: 10px;
    }
    
    #login{
        padding: 10px;
    }


    main{
        height: 700px;
        padding: 20px;
    }

    main h1{
        text-align: center;
        width: 300px;
        font-size: 1.8em;
        color: var(--cor3);
        
    } 

    #diferente{
        width: 200px;
    }
    #projeto{
       
        padding: 50px;
        font: normal 13pt arial;
        text-align: justify;
        background-color: var(--cor01);
       
    }
  


}

